body {
  background: white;
  font-weight: 300;
  hyphens: auto;
}

.bg-dark-grey {
  background: $dark-gray;
  color: #fff;
}

.bg-light-grey {
  background: $light-gray;
}

.bg-ultralight-gray {
  background: $ultralight-gray;
}

.bg-red {
  background: $red;
  color: #fff;
}

p {
  @media screen and (max-width: 49em) {
    text-align: justify;
  }
}

.start-img {
  img {
    width: 100%;
    @media screen and (max-width: 49em) {
      height: 250px;
      width: 100% !important;
      object-fit: cover;
      object-position: top center;
    }
  }
}

.color-red {
  color: $red;
}

.color-white {
  color: white;
}

.padding-small {
  padding: 40px;
}

.staerken, .serversysteme {
  padding-top: 50px;
  .cell {
    border-right: $red solid 2px;
    padding: 5px 50px;
    font-size: 18px;
    @media screen and (max-width: 49em) {
      padding: 0;
      border-right: 0;
      &:nth-child(3), &:nth-child(4) {  
        margin-top: 30px;
      }
    }
    img {
      width: 48px;
      margin-bottom: 10px;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.geschaeftsfuehrung {
  h3 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 0;
  }
  .background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
}

.aktuelles {
  .cell {
    hr {
      border: 0;
      border-top: solid $red 1px;
    }
    button {
      background: #ff0000;
      padding: 7px 10px;
      color: #fff;
      font-size: 12px;
    }
    &:hover {
      hr {
        border-top: solid #fff 1px;
      }
      button {
        background: #fff;
        color: $red;
      }
      background: $red;
    }
  }
}



nav {
  height: 70px;
  @media screen and (max-width: 49em) {
    height: auto;
  }
  &.top-bar {
    background: none;
    ul {
      background: none;
    }
  }
  @media print, screen and (min-width: 40em) {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
  }
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin: 0 auto;
  img.logo {
    position: absolute;
    max-height: 100px;
    top: -5px;
  }
}


img.support_availability {
  width: 36px;
  margin: 0 21px;
  @media screen and (max-width: 49em) {
    display: block;
    margin: 10px auto;
    &:before, &:after {
      content: '\A';
    }
  }
}

.check {
  width: 30px;
}

.rufbereitschaft, .benutzerservice, .netzwerk {
  padding-bottom: 80px;
  .mail-phone {
    margin-top: 60px;
    font-size: 20px;
    color: $red;
    .border-right {
      border-right: 1px solid $light-gray;
    }
    img {
      width: 55px;
      margin-bottom: 10px;
    }
  }
  .check-row {
    text-align: left;
    &.first-row {
      margin-top: 40px;
    }
    .check {
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 49em) {
    text-align: center;
  }
}


.benutzerservice{
  .check-row {
    .cell {
      @media screen and (max-width: 49em) {
        &:not(.border-bottom-red) {
          border-bottom: 1px solid $red;
        }
      }
    }
  }
}


.rufbereitschaft{
  .check-row {
    .cell {
      @media screen and (max-width: 49em) {
        &:not(.border-bottom-lightgrey) {
          border-bottom: 1px solid $light-gray;
        }
      }
    }
  }
}


.netzwerk{
  .check-row {
    .cell {
      @media screen and (max-width: 49em) {
        &:not(.border-bottom-white) {
          border-bottom: 1px solid white;
        }
      }
    }
  }
} 

.check-row {
  font-size: 20px;
  .cell {
    padding: 10px 0;
    @media screen and (max-width: 49em) {
      font-size: 18px;
    }
  }
}


.klaus-raab {
  .quote {
    padding-left: 40px;
    @media screen and (max-width: 49em) {
      padding-left: 80px;
      padding-right: 20px;
    }
    p {
      @media screen and (max-width: 49em) {
        text-align: left;
      }
    }
  }
}


.contactform_info {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 49em) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contactform {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 49em) {
    padding-top: 35px;
  }
    .cell {
      &:first-of-type{
        @media screen and (max-width: 49em) {
         padding-bottom: 60px; 
        }
      }
    }
  span {
    background-position: 0px 0px;
    padding-left: 50px;
    background-size: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    line-height: 2.5;
    @media screen and (max-width: 49em) {
      background-size: 24px;
    }
  }
}


.phonenumbers {
  padding: 30px 0;
  font-size: 18px;
  .cell {
    padding: 5px 0;
    border-right: #fff solid 1px;
    a {
      color: white;
    }
    @media screen and (max-width: 49em) {
      border-right: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.nf-form-content {
  padding: 0 !important;
}


.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea {
  background: $dark-gray !important;
  border: 0 !important;
  color: #fff !important;
}

.nf-form-content .listselect-wrap .nf-field-element div, .nf-form-content input.ninja-forms-field, .nf-form-content select.ninja-forms-field:not([multiple]) {
  height: 35px !important;
}

#ninja_forms_required_items, .nf-field-container {
  margin-bottom: 15px !important;
}

.nf-input-limit {
  margin-top: 5px !important;
}

.nf-error .nf-error-msg, .nf-error-msg, .ninja-forms-req-symbol {
  color: $red !important;
  font-size: 12px !important;
}

.nf-pass.field-wrap .nf-field-element:after {
  content: none !important;
}

.nf-error.field-wrap .nf-field-element:after {
  background: $red !important;
  font-size: 15px !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 35px !important;
  width: 35px !important;
  line-height: 35px !important;
}

.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
  background: $red !important;
  color: #fff !important;
  line-height: 35px !important;
  padding: 0 20px !important;
}

.nf-form-content label {
  font-size: 14px !important;
  line-height: 22px !important;
  @media screen and (max-width: 49em) {
    font-size: 12px !important;
  }
}


.acf-map {
	width: 100%;
	height: 400px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


.leistungen-header {
  margin-bottom: 20px;
}
.leistungen {
  font-size: 22px;
  @media screen and (max-width: 49em) {
    font-size: 15px;
  }
  margin-bottom: 75px;
  .cell {
    img {
      width: 75px;
      @media screen and (max-width: 49em) {
        width: 60px;
      }
      margin-bottom: 10px;
    }
    a {
      border: 1px solid $light-gray;
      color: $dark-gray;
      width: 100%;
      height: 100%;
      display: block;
      padding: 20px;
      @media screen and (max-width: 49em) {
        padding: 15px;
      }
      -o-transition:color .2s ease-out, background .2s ease-in;
      -ms-transition:color .2s ease-out, background .2s ease-in;
      -moz-transition:color .2s ease-out, background .2s ease-in;
      -webkit-transition:color .2s ease-out, background .2s ease-in;
      /* ...and now override with proper CSS property */
      transition:color .2s ease-out, background .2s ease-in;
      &:hover {
        color: $red;
        background: #f0f0f0;
      }
    }
  }
}

.support-accordion, .karriere_ansprechpartner {
  padding-left: 100px;
  @media screen and (max-width: 49em) {
    padding-left: 0;
  }
}

.stellenangebot-accordion .accordion {
  margin-bottom: 60px;
}

.support-accordion, .stellenangebot-accordion {
  @media screen and (max-width: 49em) {
    padding-left: 0;
  }
  .accordion-item {
    .accordion-title {
      position: relative;
      display: block;
      padding: 1.25rem 1rem;
      border-top: 1px solid $red;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      font-size: 1rem;
      line-height: 1;
      color: $dark-gray;
      background: #fff;
      &:before {
        content: '' !important;
      }
      .accordion-circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        padding: 0 0 0 3px;
        position: relative;
        vertical-align: sub;
        margin-right:10px;
        &:after {
          content: '';
          display: inline-block;
          /* margin-top: -3px; */
          width: 10px;
          height: 10px;
          border-top: 2px solid white;
          border-right: 2px solid white;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 5px;
          position: absolute;
        }
      }
    }
    &.is-active {
      .accordion-title {
        background: $ultralight-gray;
        .accordion-circle {
          padding: 0 0 0 5px;
          &:after {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
            top: 3px;
          }
        }
      }
    }
    .accordion-content {
      display: none;
      padding: 1.8rem 1rem;
      border-top: 1px solid red;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      background-color: #fff;
      color: #0a0a0a;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


.erwartung_row {
  clear: both;
  margin-top: 40px;
}

.erwartung_icon {
  float: left;
  width: 10%;
}

.erwartung_text {
  width: 90%;
  margin-left: 12%;
  p {
    text-align: left;
  }
}


.s24-7 {
  .cell {
    font-size: 28px;
    padding: 30px 0;
    @media screen and (max-width: 49em) {
      font-size: 23px;
    }
  }
}



.border-bottom-lightgrey {
  border-bottom: solid 1px $light-gray;
}
.border-bottom-red {
  border-bottom: solid 1px $red;
}
.border-bottom-white {
  border-bottom: solid 1px white;
}


.top-bar {
  padding: 0;
}

.dropdown.menu {
  li {
    &:last-child {
      a {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}
.dropdown.menu > li > a {
  margin: 0 1rem;
}





.top-bar-additional {
  @media screen and (max-width: 49em) {
    display: none;
  }
  max-width: 75rem;
  text-align: right;
  margin: 15px auto 0;
  line-height: 2;
  #menu-top-bar-additional {
    justify-content: flex-end;
  }
  .menu {
    li {
      a {
        padding: 0 10px;
        font-size: 12px;
        color: $light-gray;
        font-weight: 900;
        &:hover {
          color: $red;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }
}



.nf-form-fields-required {
  display: none;
}



#wpadminbar {
  display: none !important;
}

h1, h2, h3 , h4, h5 {
  hyphens: none;
}

h1 {
  line-height: 1;
  font-weight: 200;
}
h2 {
  font-weight: 900;
  @media screen and (max-width: 49em) {
    margin-bottom: 1rem;
  }
}
h3, .contactform h1 {
  line-height: 1.3;
  font-weight: 300;
  margin-bottom: 14px;
  font-size: 2.25rem;
}
h4 {
  font-weight: 900;
}
p {
  font-size: 18px;
  line-height: 1.4;
}

.dark-header {
  padding: 70px 0;
  @media screen and (max-width: 49em) {
    padding: 35px 0;
  }
}

.systemintegration, .cloud {
  &.padding-x-80 {
    padding: 40px;
  }
}

.padding-x-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.padding-bottom-80 {
  padding-bottom: 80px;
}
.padding-top-80 {
  padding-top: 80px;
}

.telekommunikation {
  @media screen and (max-width: 49em) {
    text-align: center;
  }
}

.telekommunikation-text {
  margin-top: 30px;
  padding: 0 120px 0 60px !important;
  @media screen and (max-width: 49em) {
    padding-right: .625rem !important;
    padding-left: .625rem !important;
  }
}

.quote{
  p {
    font-size: 30px;
    position: relative;
    @media screen and (max-width: 49em) {
      font-size: 20px;
    }
    img {
      position: absolute;
      top: 9px;
      width: 51px;
      left: -66px;
    }
  }
}


.netzwerk, .software{
  p {
    hyphens: auto;
    -webkit-column-count: 2; /* Old Chrome, Safari and Opera */
    -moz-column-count: 2; /* Old Firefox */
    column-count: 2;
    @media screen and (max-width: 49em) {
      -webkit-column-count: 1; /* Old Chrome, Safari and Opera */
      -moz-column-count: 1; /* Old Firefox */
      column-count: 1;
    }
  }
}

.gebaeudetechnik-container, .consulting-container {
  @media screen and (max-width: 49em) {
    text-align: center;
  }
}

.it-security, .telekommunikation, .systemintegration{
  .text {
    padding-right: 100px;
    @media screen and (max-width: 49em) {
      padding-right: 0;
    }
  }
  .list {
    background-image: linear-gradient(to right, #f1f1f1 , #fefefe);
    @media screen and (max-width: 49em) {
      text-align: left;
    }
  }
  ul {
    padding: 20px 20px;
    margin: 0;
  }
  li {
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding: 10px 0 10px;
    font-size: 20px;
    &:last-child {
      border-bottom: 0;
    }
    .check {
      margin-right: 15px;
      height: auto;
      object-fit: fill;
    }
  }
  @media screen and (max-width: 49em) {
    text-align: center;
  }
}

.telekommunikation {
  .list {
    background-image: none;
  }
  li {
    border-bottom: 1px solid $dark-gray;
  }
  .img {
    height: 800px;
    object-fit: cover;
  }
}


header {
  transition: 0.2s;
  .sticky {
    background: white;
  }
}


.logo_sticky {
  top: 3px !important;
}

.logo {
  img {
    z-index: 999;
    position: absolute;
    top: -4px;
    width: 140px;
  }
}

.bg-light-gray-gradient {
  background-image: linear-gradient(to right, #ccc, #fefefe);
}


.sticky {
  &.is-anchored {
    .logo_nonsticky {
      display: block;
    }
    .logo_sticky {
      display: none;
    }
  }
  &.is-stuck {
    .logo_nonsticky {
      display: none;
    }
    .logo_sticky {
      display: block;
    }
  }
}



.mobile-navigation {
  display: none;
  @media screen and (max-width: 49em) {
    display: block;
  }
}

.desktop-navigation {
  display: flex;
  @media screen and (max-width: 49em) {
    display: none;
  }
}


.site-header {
  @media screen and (max-width: 49em) {
    height: 52px;
  }
}

.site-navigation {
  padding: 0 10px;
  @media screen and (max-width: 49em) {
    padding: 0;
  }

}

.contact-icons{
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 999;


  @media screen and (max-width: 49em) {
    bottom: 0;
    width: 100%;
    display: block;
    top: auto;
    right: auto;
  }
  
  span {
    &:hover {
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity=70);
      opacity: 0.7;
    }
  }


  span {
    background: $red;
    display: block;
    padding: 7px 10px 10px;
    margin: 7px 0;
    width: inherit;
    @media screen and (max-width: 49em) {
      background: $red;
      float: left;
      padding: 12px 10px 20px;
      margin: 0;
      width: 25%;
      text-align: center;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .phone {
    display: none;
    @media screen and (max-width: 49em) {
      display: inline-block;
    }
  }
  .fernwartung {
    display: block;
    @media screen and (max-width: 49em) {
      display: none;
    }
  }
  
}



strong, b {
  font-weight: 700;
}
i, italic {
  font-weight: 400;
}


.slick_slider_cell {
  padding: 0 25px;
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
}


.with-icon {
  background-position: 0px 3px;
  padding-left: 50px;
  background-size: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  line-height: 2.5;
}




.sexy_line_middle { 
  display:block;
  border:none;
  color:white;
  height:1px;
  background-color: $dark-gray;
  margin: 15px 0 60px 0;
  @media screen and (max-width: 49em) {
    margin: 15px 0 30px 0;
  }
  background: $dark-gray;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, $dark-gray), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}
.sexy_line_middle_white { 
  display:block;
  border:none;
  color:white;
  height:1px;
  background-color: white;
  margin: 15px 0 60px 0;
  @media screen and (max-width: 49em) {
    margin: 15px 0 30px 0;
  }
  background: white;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, white), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.sexy_line_left { 
  display:block;
  border:none;
  color:white;
  height:1px;
  margin: 15px 0 60px 0;
  @media screen and (max-width: 49em) {
    margin: 15px 0 30px 0;
    background: $dark-gray;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, $dark-gray), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
  background: $dark-gray;
  background: -moz-linear-gradient(left, $dark-gray 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $dark-gray), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, $dark-gray 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, $dark-gray 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, $dark-gray 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, $dark-gray 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}
.sexy_line_left_white { 
  display:block;
  border:none;
  color:white;
  height:1px;
  margin: 15px 0 60px 0;
  @media screen and (max-width: 49em) {
    margin: 15px 0 30px 0;
    background: white;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, white), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
  background: white;
  background: -moz-linear-gradient(left, white 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, white 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, white 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, white 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, white 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.sexy_line_right { 
  display:block;
  border:none;
  color:white;
  height:1px;
  margin: 15px 0 60px 0;
  @media screen and (max-width: 49em) {
    margin: 15px 0 30px 0;
    background: $dark-gray;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, $dark-gray), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, $dark-gray 50%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
  background: $dark-gray;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, $dark-gray));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, $dark-gray 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, $dark-gray 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}
.sexy_line_right_white { 
  display:block;
  border:none;
  color:white;
  height:1px;
  margin: 15px 0 60px 0;
  @media screen and (max-width: 49em) {
    margin: 15px 0 30px 0;
    background: white;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, white), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
  background: white;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, white 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, white 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, white 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}



.karriere_ansprechpartner {
  img {
    width: 100%;
  }
}





/* Nav items */
.mobmen {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
  margin-left: 0;
}

/* Hamburger menu button */
.mobmen-btn:checked ~ .mobmen {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.mobmen a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: $dark-gray;
  opacity: 0;
  transition: 0.5s;
  padding: 12px 15px;
}

.mobmen li {
  opacity: 0;
  transition: 0.5s;
  background: rgb(255,255,255);
}

.mobmen-btn:checked ~ .mobmen a,
.mobmen-btn:checked ~ .mobmen li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.mobmen-btn {
  display: none;
}

.mobmen-icon {
  z-index: 2;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  right: 15px;
  margin: 0 !important;
}

.navicon {
  background: $dark-gray;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: $dark-gray;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.mobmen-btn:checked ~ .mobmen-icon .navicon:before {
  transform: rotate(-45deg);
}

.mobmen-btn:checked ~ .mobmen-icon .navicon:after {
  transform: rotate(45deg);
}

.mobmen-btn:checked ~ .mobmen-icon:not(.steps) .navicon:before {
  top: 0;
}
.mobmen-btn:checked ~ .mobmen-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.mobmen-btn:checked ~ .mobmen-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  background: #fff;
  z-index: 1;
  img {
    width: 76px;
    margin: 4px 10px;
  }
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  font-size: 20px;
}


.menu .is-active > a {
  background: $light-gray;
  color: $dark-gray;
}

reveal-overlay {
  position: fixed;
}

.reveal {
  max-width: 100%;
  margin: 25px;
  height: -webkit-calc(100% - 50px);
  height:    -moz-calc(100% - 50px);
  height:         calc(100% - 50px);
  top: 0 !important;
  @media screen and (max-width: 49em) {
    margin: 0;
  }
}

.text-modal {
  padding: 30px 350px 30px 30px;
  background: rgba(50, 45, 45, 0.9);
  color: #fff;
  .close-button {
    color: rgba(255, 255, 255, 0.9);
  }
}

.close-button, .close-button.medium {
  font-size: 50px;
  right: 45px;
  top: 25px;
  position: absolute;
  font-weight: 300;
}

.full_img_bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 70px;
  @media screen and (max-width: 49em) {
      background-repeat: no-repeat;
      background-size: auto 250px;
      background-position: center 53px;
  }
  img {
    visibility: visible;
    @media screen and (max-width: 49em) {
      visibility: visible !important; //change for mobile fix
    }
  }
}

.bg-fixed {
  background-attachment: fixed;
  @media screen and (max-width: 49em) {
    background-attachment: initial;
  }
}
.bg-hidden {
  visibility: hidden;
}


.is-at-bottom {
  top: 0 !important;
}

.footer-container p {
  @media screen and (max-width: 49em) {
    text-align: center;
  }
}

.text-center-mobile {
  @media screen and (max-width: 49em) {
    text-align: center !important;
  }
  p {
    @media screen and (max-width: 49em) {
      text-align: center !important;
    }
  }
}

.supportlevel {
  .padding-top-80 {
    @media screen and (max-width: 49em) {
      padding-top: 40px;
    }
  }
}


.subNaviActive {
  color: $red !important;
}


.gesch-mobile {
  @media screen and (max-width: 49em) {
    display: block;
  }
  display: none;
}

.gesch-desktop {
  @media screen and (max-width: 49em) {
    display: none;
  }
  display: block;
}

.supportlevel {
  .text {
    @media screen and (max-width: 49em) {
      margin-bottom: 50px;
    }
  }
}

.bewerbungs-wrapper {
  text-align: center;
  .bewerbung {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background: #ff0000;
    color: #fff;
    padding: 10px;
    background: #dc0d15!important;
    color: #fff!important;
    line-height: 35px!important;
    padding: 0 20px!important;
  }
}


#bewerbung {
  .nf-field-label {
    display: none;
  }
  .nf-fu-progress {
    height: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}

@media screen and (max-width: 49em) {
  .menu.nested {
    display: none;
  }
}
