.bg-dark-grey {
  background: $dark-gray;
  color: #fff;
}

.bg-light-grey {
  background: $light-gray;
}

.bg-red {
  background: $red;
  color: #fff;
}

.start-img {
  margin: 0 auto 40px !important;
  img {
    width: 100%;
  }
}

.color-red {
  color: $red;
}

.padding-small {
  padding: 20px 30px;
}

.staerken {
  .cell {
    border-right: $red solid 1px;
    &:last-child {
      border-right: 0;
    }
  }
}


.aktuelles {
  .cell {
    hr {
      border: 0;
      border-top: solid $red 1px;
    }
    button {
      background: #ff0000;
      padding: 7px 10px;
      color: #fff;
      font-size: 12px;
    }
    &:hover {
      hr {
        border-top: solid #fff 1px;
      }
      button {
        background: #fff;
        color: $red;
      }
      background: $red;
    }
  }
}



nav {
  height: 70px;
  &.top-bar {
    background: none;
    ul {
      background: none;
    }
  }
  @media print, screen and (min-width: 40em) {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
  }
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin: 0 auto;
  img.logo {
    position: absolute;
    max-height: 100px;
    top: -5px;
  }
}


img.support_availability {
  width: 50px;
  }

.check {
  width: 30px;
}

.rufbereitschaft, .benutzerservice {
  .mail-phone {
    .border-right {
      border-right: 1px solid $light-gray;
    }
  }
}






.phonenumbers {
  padding: 20px 0;
  .cell {
    border-right: #fff solid 1px;
    &:last-child {
      border-right: 0;
    }
  }
}



.acf-map {
	width: 100%;
	height: 400px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


.border-bottom-lightgrey {
  border-bottom: solid 1px $light-gray;
}
.border-bottom-red {
  border-bottom: solid 1px $red;
}


.top-bar {
  padding: 0;
}

.dropdown.menu {
  li {
    &:last-child {
      a {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}
.dropdown.menu > li > a {
  margin: 0 1rem;
}





.top-bar-additional {
  max-width: 75rem;
  text-align: right;
  margin: 5px auto 0;
  line-height: 2;
  #menu-top-bar-additional {
    justify-content: flex-end;
  }
  .menu {
    li {
      a {
        padding: 0 10px;
        font-size: 12px;
        color: $dark-gray;
        &:hover {
          color: $red;
        }
      }
      &:last-child {
        a {
          padding: 0;
        }
      }
    }
  }
}






#wpadminbar {
  display: none !important;
}