.footer-container {
    @media screen and (max-width: 39.9375em) {
    font-size: 14px;
    text-align: center;
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .grid-x {
    padding: 20px 0;
    .cell {
      padding: 0 20px;
      &:first-child {
        padding-right: 2%;
        border-right: #fff solid 1px;
        @media screen and (max-width: 39.9375em) {
          border: 0;
          padding: inherit;
        }
      }
      .phone-icon {
        @media screen and (max-width: 39.9375em) {
          display: none
        }
        width: 20px;
        margin: -5px 5px 0 -30px;
      }
      &.phones {
        position: relative;
        padding-left: 8%;
        p {
          padding-left: 5px;
        }
        @media screen and (max-width: 39.9375em) {
          position: inherit;
          padding: inherit;
        }
      }
      &.certified {
        img {
          float: left;
          width: 50px;
          margin: 0 10px 0 0;
          @media screen and (max-width: 39.9375em) {
            float: none;
            width: 50px;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    &.subfooter {
      font-size: 12px;
      padding: 5px 0;
      font-weight: 500;
      .cell {
        border: 0;
      }
    }
  }
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


.mail-phone {
  a {
    color: $red;
    &:hover {
      color: $red;
    }
  }
}