.footer-container {
  .grid-x {
    padding: 20px 0;
    .cell {
      padding: 0 20px;
      &:first-child {
        padding: 0;
        border-right: #fff solid 1px;
      }
    }
    &.subfooter {
      font-size: 12px;
      padding: 5px 0;
      .cell {
        border: 0;
      }
    }
  }
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
