// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}
.dropdown {
  &.menu > li > a {
    font-size: 23px;
    color: $dark-gray;
    padding-left: 0;
    padding-right: 0;
    margin: 0 2rem;
    &:hover {
      color: $red;
    }
  }
  &.menu > li.opens-left > .is-dropdown-submenu {
    top: 58px;
    left: 0;
    right: auto;
    background: white;
    padding: 10px 0;
    opacity: 0.9;
    border: 0;
    a {
      color: $dark-gray;
      padding: 7px 0;
      font-size: 18px;
      &:hover {
        color: $red;
      }
    }
  }
  &.menu > li.is-dropdown-submenu-parent > a {
    &::after {
      content: none;
    }
  }
  &.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 0;
  }
  &.menu > li.is-active > a {
    color: $red;
  }
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
